* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li img {
    width: 40%; 
}

.menu ul li {
    padding: 1vh;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}
.menu ul li a:hover {
    text-decoration: none;
    color: white;
    color: gray;
}

.topbar .navbar a:hover {
    color:gray; 
}
.menu ul li a span {
    position: relative;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%; 
    background-color: #111111;
    font-size: 1.4vw; 
    font-weight: bold;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #08132E;
    padding: 2vh;
    width: 100%;
    z-index: 3;
}

.topbar .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.topbar .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
    margin: 0 1vw; 
}
.right {
    width: 100%;
    margin-left: 15%;
    margin-top: 6vh;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #08132E;
    display: flex;
    justify-content: space-between;
    padding: 1vh 0.7vw; 
    z-index: 6;
}

.bottombar .text {
    color: white;
    font-size: 1vw; 
    margin-top: 2vh;
    margin-right: auto;
    padding: 1vh 1vw;
}

.bottombar .dummy img {
    margin-top: 1vh;
    width: 100%; 
}

.bottombar .dummy {
    width: 4vw;
}

.home-header{
    background-color: #29217E;
    height: 20vh;
    width: 100%;
    display: flex;
}

.home-header .homeimg{
    height: 100%;
    width: 12%;
}
.home-header .homeimg img{
    margin-top: 2.5vh;
    margin-left: 0.8vw;
    width: 80%;
    height: 80%;
}

.hometext{
    color: white;
    width: 80%;
    margin-top: 2.5vh;
}

.hometext h1{
    font-size: 5vw;
}

.spo-play{
    padding-top: 2vh;
    padding-left: 2vw;
}

.spo-play h2{
    color: white;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.spo-play .list{
    display: flex;
    font-size: 1.1vh;
    margin-bottom: 1vh;
    flex-wrap: wrap; 
    gap: 3vh 3.5vw; 
}

.spo-play .list .item{
    min-width: 6vw;
    width: 10vw;
    padding: 1vh 0.5vw;
    background-color: #082F92;
    border-radius: 6px;
}

.spo-play .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 0.5vh;
}

.spo-play .list .item h4{
    color: white;
    font-size: 1.5vh;
}

.spo-play .list .item p{
    color: gray;
    font-size: 1.4vh;
    line-height: 2vh;
    font-weight: bold;
}

.focus{
    padding-top: 2vh;
    padding-left: 2vw;
}

.focus h2{
    color: white;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.focus .list{
    display: flex;
    font-size: 1.1vh;
    margin-bottom: 1vh;
    flex-wrap: wrap; 
    gap: 3vh 3.5vw; 
}

.focus .list .item{
    min-width: 6vw;
    width: 10vw;
    padding: 1vh 0.5vw;
    background-color: #082F92;
    border-radius: 6px;
}

.focus .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 0.5vh;
}

.focus .list .item h4{
    color: white;
    font-size: 1.5vh;
}

.focus .list .item p{
    color: gray;
    font-size: 1.4vh;
    line-height: 2vh;
    font-weight: bold;
}

.best-ep{
    padding-top: 2vh;
    padding-left: 2vw;
}

.best-ep h2{
    color: white;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.best-ep .list{
    display: flex;
    font-size: 1.1vh;
    margin-bottom: 1vh;
    flex-wrap: wrap; 
    gap: 3vh 3.5vw; 
}

.best-ep .list .item{
    min-width: 6vw;
    width: 10vw;
    padding: 1vh 0.5vw;
    background-color: #082F92;
    border-radius: 6px;
}

.best-ep .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 0.5vh;
}

.best-ep .list .item h4{
    color: white;
    font-size: 1.5vh;
}

.best-ep .list .item p{
    color: gray;
    font-size: 1.4vh;
    line-height: 2vh;
    font-weight: bold;
}