* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background-color: #082F92;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%; 
    background-color: #111111;
    font-size: 1.4vw; 
    font-weight: bold;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li img {
    width: 40%; 
}

.menu ul li {
    padding: 1vh;
}
.menu ul li a:hover {
    text-decoration: none;
    color: white;
    color: gray;
}

.topbar .navbar a:hover {
    color:gray; 
}
.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a span {
    position: relative;
    top: -5px;
    left: 8px;
}

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #08132E;
    padding: 2vh;
    width: 100%;
    z-index: 3;
}

.topbar .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.topbar .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
    margin: 0 1vw; 
}
.right {
    width: 100%;
    margin-left: 15%;
    margin-top: 6vh;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #08132E;
    display: flex;
    justify-content: space-between;
    z-index: 6;
    height: 8%;
}

.bottombar .text {
    color: white;
    font-size: 1vw; 
    margin-top: 2vh;
    margin-right: auto;
    padding: 1vh 1vw;
}

.bottombar .dummy img {
    margin-top: 1vh;
    width: 80%;
    height: 80%; 
    margin-left: 0.5vw;
}

.bottombar .dummy {
    width: 4vw;
}

.library-header{
    background-color: #101474;
    height: 20vh;
    width: 100%;
    display: flex;
}

.library-header .libimg{
    height: 100%;
    width: 30vw;
}
.library-header .libimg img{
    width: 70%;
    height: 100%;
}

.libtext{
    color: white;
    width: 80%;
    margin-top: 4vh;
}

.libtext h1{
    font-size: 5vw;
}

.songtable{
    margin-top: 2vh;
}

.songtable table{
    border-collapse: collapse;
    width: 100%;
}

.songtable table{
    border-collapse: collapse;
    width: 100%;
}
.songtable table th{
    text-align: left;
}
.songtable .waiting{
    margin-left: 2vw;
    color: gray;
    font-size: 3vh;
    font-weight: bold;
}
.song-title {
    width: 50%;
    height: 100%;
}
.songtable tr td{
    padding: 1vh;
    color: white;
}

.songtable table th{
    text-align: left;
}

.song-image {
    height: 100%;
    display: inline-block; 
    vertical-align: middle;
}
.song-image img {
    width: 5vh;
    height: 5vh;
}
.song-name-artist {
    margin-left: 1vh;
    display: inline-block; 
    vertical-align: middle; 
}

.played{
    margin-left: 2vw;
    color: gray;
    font-size: 3vh;
    font-weight: bold;
}

.name{
    font-weight: bold;
    font-size: 1.5vh;
    color: white;
}