*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    /* background-color: white; */
}

.login-form{
    position : relative;
    min-height: 100vh;
    z-index: 0;
    background: black;
    padding: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#custompurple{
    color: #2615ED;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.login-form h1{
    text-align: center;
    font-size: 2.5rem;
}

.login-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    color: black;
    text-align: center;
}

.login-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}

.main {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}
.content{
    flex-basis: 70%;
    padding: 3em 3em;
    background: white;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background-size: cover;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.form-img img {
    max-width: 100%;
}

.login-form h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px; 
}


.login-form .container {
    display: flex;
    justify-content: center; 
}


p{
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.temp {
    color: black;
    font-family:'Courier New', Courier, monospace;
}


a{
    text-decoration: none;
}

.login-form form{
    margin: 30px;
}

.login-form input{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: black;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #D7CAD6;
    transition: 0.3s ease;
}

.login-form input:focus{
    background: transparent;
    border: 1px solid #2615ED;
}

.login-form button{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    color: white;
    width: 100%;
    background: #2615ED;
}